<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        h1 {
            display: flex;
            margin-top: 100px;
        }
        p {
            background-color: #acf;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: space-between;
            margin: 0  auto;
            border: black solid 2px;
}
    </style>
</head>
<body>
    <h1>
        <p></p>
        <p></p>
        <p></p>
    </h1>
</body>
</html>